#console {
  font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 12px;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  padding-bottom: 20px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border: 1px solid #AAA;
  box-shadow: 2px 2px 5px #AAA;
  -webkit-box-shadow: 2px 2px 5px #AAA;
  -moz-box-shadow: 2px 2px 5px #AAA;
  background:-webkit-gradient(linear,0% 0%,0% 30%,from(#eee),to(#ccc));
  background:-moz-linear-gradient(10% 10% 90deg,#ccc,#eee);
}

span.fail {
  background-color:#d23737;
  color:white;
  padding:2px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border: 1px solid #851d00;
  text-transform: uppercase;
  margin-right: 10px;
}

div.message {
  border-bottom: 1px solid #DDD;
  padding: 10px;
  line-height: 18px;
  background-color: white;
}

#summary {
  font-size: 13px;
  padding: 5px;
}
